
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url(http://3.bp.blogspot.com/-r9YGYumSMnY/UkRDl-Jog2I/AAAAAAAAUTY/jj2pLsfZOE0/s1600/Descargar+Pack+Wallpapers+de+Coches+%2528193%2529.jpg);
}
.trafficlight {
    background-color: black;
    margin: auto;
    height: 380px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
   
    
}
.light {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 12%;
        
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.switchOn {
    box-shadow: 0 0 10px 10px #aef4af;
}